.btn{
    background-color: navy;
    color: silver;
    font-size: 16px;
    text-align: center;
    border: solid 2px black;
    height: 45px;
    width: 125px;
    margin: 10px;
    padding-bottom: 10px;

}
span{
    font-size: 22px;
    color: silver;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 50px;
}
#rentRange{
    margin-left: 25px;
}
aside{
    border: border-box;
    border: solid 5px silver;
    padding-left: 25px;
}
section {
    border: border-box;
    border: solid 5px silver;
    padding-left: 25px;
    padding-top: 20px;
}
.container{
    margin-top: 100px;
}
.zillow{
    margin: 15px 40px 15px 10px;
}
.rentRange{
    margin: 30px 65px 0px 30px;
}
.navbar{
    background-color: navy;
}
footer{
    height: 40px;
    width: 100%;
    background-color: navy;
    margin-top: 30px;
}
#copyright{
    color: silver;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 12px;
}
h1 , label{
    color: navy;
    font-family: 'Times New Roman', Times, serif;
}
#add{
    margin-right:55px;
}
#cityLab{
    margin-right: 80px;
}
#stateLab{
    margin-right: 75px;
}
#zip{
    margin-right: 53px;
}
#sq{
    margin-right: 43px;
}
#bednum{
    margin-right: 10px;
}
#bathnum{
    margin-right: 39px;
}
